
<div class="row">
  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product1.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 1</b>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product2.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 2</b>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product3.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 3</b>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product4.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 4</b>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product5.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 5</b>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product6.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 6</b>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product7.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 7</b>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product8.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 8</b>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <img src="col-4 ../../../.././../assets/Products/product9.jpg" alt="product5" style=width:100%>
      <div class="caption">
        <b>Product 9</b>
      </div>
    </div>
  </div>

</div>

<!-- <div> -->
  <!-- <div class="row">
    <div class="col-4 ../../../.././../assets/Products/product1.jpg"></div>
    <div class="col-4 ../../../.././../assets/Products/product2.jpg"></div>
    <div class="col-4 ../../../.././../assets/Products/product3.jpg"></div>
  </div> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-4 ../../../.././../assets/Products/product4.jpg"></div> -->
    <!-- <div class="col-4 ../../../.././../assets/Products/product5.jpg"></div> -->
    <!-- <div class="col-4 ../../../.././../assets/Products/product6.jpg"></div> -->
  <!-- </div> -->
<!-- </div> -->
